html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* 全体 */
.container {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
}

.contents {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

/* ヘッダー */

header {
    display: flex;
    position: relative;
}

header h1 {
    width: 16rem;
    height: 7rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 a img {
    width: 11rem;
    height: auto;
}

#drawer_toggle {
    display: none;
}

header nav {
    margin-left: 85px;
}


header nav ul {
    display: flex;
    position: absolute;
    top: 55%;
}

header nav ul li {
    width: 180px;
    text-align: center;
    height: 50px;
    border-left: 1px solid #CCC;
    box-sizing: border-box;
    line-height: 1.5;
}

header nav ul li:last-child {
    border-right: 1px solid #CCC;
}


header ul li a {
    display: block;
    padding: 5px 45px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: 0.5s;

}

header ul li a:hover {
    border-bottom: 3px solid #000;
    transition: 0.5s;
}


header ul li a span {
    font-size: 12px;
    color: #999;
    font-weight: 200;
}

@media (max-width:768px) {

    header {
        justify-content: space-between;
    }

    header h1 {
        width: 12rem;
        height: 4rem;
    }

    header h1 a img {
        width: 8rem;
    }

    .contents {
        display: block;
        width: 100%;
        padding-top: 0;
        margin-top: 30px;
    }

    header nav {
        display: none;
    }

    #drawer_toggle {
        display: block;
        position: relative;
        cursor: pointer;
        margin: 10px 15px;
        width: 33px;
        height: 25px;
        z-index: 999;
    }

    #drawer_toggle span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        height: 4px;
        border-radius: 3px;
        background: #333;
        width: 100%;
    }

    #drawer_toggle span:nth-of-type(1) {
        top: 5px;
    }

    #drawer_toggle span:nth-of-type(2) {
        top: 17px;
    }

    #drawer_toggle span:nth-of-type(3) {
        top: 29px;
    }

    #drawer_toggle.active span:nth-of-type(1) {
        top: 5px;
        left: 6px;
        transform: translateY(10px) rotate(-45deg);
        width: 100%;
        background-color: #333;
    }

    #drawer_toggle.active span:nth-of-type(2) {
        opacity: 0;
    }

    #drawer_toggle.active span:nth-of-type(3) {
        top: 25px;
        left: 6px;
        transform: translateY(-10px) rotate(45deg);
        width: 100%;
        background-color: #333;
    }

        nav#global_nav {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 997;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s linear;
    }

    nav#global_nav.active {
        top: 0;
        opacity: 0.95;
        pointer-events: auto;
        position: fixed;
    }

    nav#global_nav ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 75%;
        width: 100%;
        transform: translate(-50%, -75%);
        text-align: center;
    }

    nav#global_nav ul li {
        text-align: center;
        margin: 25px 0;
        border-left: none;
    }

    header nav ul li:last-child {
        border-right: none;
    }

    nav#global_nav ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        padding: 5px 40px;
    }


}


/* トップページスライドショー */

.top-page {
    margin-top: 30px;
    margin-bottom: 300px;
}

.slider-items {
    width: 100%;
    position: relative;
}

.slider-items img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width:768px) {

    .top-page {
        margin-bottom: 150px;
    }

    main {
        width: 93% !important;
        margin: 0 auto !important;
        padding-left: 0 !important;
        font-size: 14px
    }

    main h2 {
        font-size: 0.8rem;
    }

    main h3 {
        font-size: 0.85rem;
        height: auto;

    }

    main p {
        font-size: 0.8rem;
    }

    .sidebar {
        width: 92% !important;
        margin: 50px auto 10px;
    }
}


/* メイン */

main {
    order: 2;
    width: 70%;
    padding-left: 55px;
}

main h2 {
    background: #000 url(./img/mark1.png) no-repeat 10px center;
    color: #FFF;
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 35px;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    margin-bottom: 15px;
}

table {
    margin: 15px 0;
}

.sidebar {
    order: 1;
    width: 23%;
}

#contents__table--header {
    padding: 12px 20px;
    width: auto;
    display: block;
    height: 42px;
    background-color: #404040;
    color: #FFF;
    box-sizing: border-box;
    font-size: 15px;
}

table {
    width: 100%;
}

table tbody tr {
    border: 1px solid #CCC;
    display: flex;
    align-items: center;
}

table tbody th {
    width: 25%;
    padding: 14px;
    background: #F0F0F0;
    border-right: 1px solid #CCC;
}

table tbody td {
    padding-left: 15px;
    width: 75%;
    font-weight: 200;
}

main h3 {
    background: linear-gradient(#FFF, #ebebeb);
    width: 100%;
    height: auto;
    padding: 10px 12px;
    letter-spacing: 0.1em;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #CCC;
}


main p {
    line-height: 2;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding: 0 12px;
    padding-bottom: 15px;
}

.summary__p--txt {
    padding-bottom: 13px;
}

.look {
    background-color: #666666;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

/* TOPページ　news */

.new-icon {
    position: relative;
    color: #FFF;
    width: 30px;
    height: 10px;
    background-color: red;
    font-size: 10px;
    padding: 0 5px;
    border-radius: 2px;
}

dl {
    width: 100%;
    margin: 0 15px 0 12px;
    height: 145px;
    overflow: scroll;
}

dt {
    float: left;
    font-weight: bold;
    padding: 7px 0;
    border-bottom: 1px solid #CCC;
}

dd {
    width: 100%;
    box-sizing: border-box;
    padding: 7px 0 7px 120px;
    border-bottom: 1px solid #CCC;
}

@media (max-width:768px) {
    dl {
        width: 92%;
    }

    dt, dd {
        font-size: 0.8rem;
    }
}


/* サービスページ */

.service-list {
    width: 100%;
    height: auto;
    background: linear-gradient(#FFF, #ebebeb);
    border: 1px solid #CCC;
    padding: 25px 25px 15px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.service-list a {
    text-decoration: none;
}

h4 {
    border-left: 3px solid #333;
    padding: 0 10px;
}


.service-list img {
    width: 20%;
    border: 1px solid #CCC;
    padding: 1%;
    background-color: #FFF;
    height: auto;
    margin-right: 12px;
}

hr {
    margin: 8px 0;
}

.list-items {
    display: flex;
    align-items: flex-start;
}

.list-table {
    width: 100%;
    margin: 0;
}

.list-table th {
    width: 25%;
    text-align: center;
    height: 20px;
    padding: 8px;
    line-height: 20px;
    font-weight: 300;
    font-size: 12px;
    background-color: #DFE0C9;
}

.list-table td {
    width: 75%;
    height: 20px;
    padding: 8px;
    font-size: 12px;
    border-right: 1px solid #CCC;
}

.service-list p {
    margin-left: 22%;
}

@media (max-width:768px) {

}


/* サイドバー */

.box1 {
    background: #E4E4E4;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 1px solid #CCC;
}

.box1 ul {
    background: #FFF;
    margin: 10px 20px;
}

.box1 li {
    border-bottom: 0.5px solid #CCC;
}

.box1 li:last-child {
    border-bottom: none;
}

.box1 a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}

.box1 h2 {
    margin: 12px 0 12px 20px;
    border-left: 3px solid #333;
    padding: 0 10px;
}

.box1 p {
    margin: 10px 20px;
    line-height: 2;
    font-size: 13px;
}

.box2 h2 {
    margin: 12px 0 12px 0;
    border-left: 3px solid #333;
    padding: 0 10px;
}

.box2 p {
    margin: 10px 20px 10px 0;
    line-height: 2;
    font-size: 13px;

}

/* footer */

footer {
    background: #000;
    color: #FFF;
    height: 50px;
    text-align: center;
    font-size: 11px;
}

footer small {
    display: inline-block;
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    transition: all 0.5s 0.1s ease-in-out;
}

footer a:hover {
    color: #000;
}

/* ページトップに戻るボタン */

.page-top {
    display: inline-block;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.page-top a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #FFF;
    font-size: 10px;
}

.page-top a:hover {
    background-color: #666666;
}

/* お問い合わせページ */

.contact-form {
    width: 100%;
    border-collapse: collapse;
}

.contact-form th,
.contact-form td {
    /* padding: 10px; */
    vertical-align: middle;
    text-align: left;
}

.contact-form th {
    width: 25%;
    font-size: 0.75rem;
    height: 100%;
    text-align: left;
}

.contact-form td {
    width: 75%;
    height: 100%;
}

input {
    width: 60%;
    box-sizing: border-box;
}

.contact-form .textarea-box th {
    height: 11rem;
    line-height: 11rem;
    
}

.contact-form .textarea-box textarea {
    width: 95%;
    box-sizing: border-box;
}

textarea {
    margin: 10px auto;
    vertical-align: middle;
}

.contact-btn {
    margin-top: 40px;
}

.contact-btn a {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 100vh;
    color: #333;
    border: 1px solid #999;
    text-shadow: 0 1px #fff;
    box-shadow: 0 0 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
    transition: 0.5s;
}

.contact-btn a:hover {
    opacity: 0.5;
}

dl.question-box {
    overflow: visible;
}

dl.question-box dt {
    border-bottom: none;
    display: block;
    width: 100%;
    margin-top: 8px;
    font-size: 0.95rem;
}

dl.question-box dd {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 0.95rem;
    line-height: 1.6;
}

@media (max-width:768px) {
 
    .question-box {
        margin-bottom: 500px;
    }
}